.SearchBar {
    padding: 20px;
    margin: 20px;
}

.searchButton {
    margin-left: 15px;
    padding: 7px;
    min-width: 130px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #6f1dfd 50%, #6045fc);
    
}


.inputSearchbar::placeholder { 
    color: white; 
}

.inputSearchbar {
   padding: 7px;
   min-width: 130px;
   height: 10px;
   color: #000;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
   border-radius: 5px;
   border: none;
   background-size: 120% auto;
   background-image: white;
}


  .inputSearchbar:hover {
    background-position: right center;
  }
  .inputSearchbar:active {
    top: 2px;
  }