.containerHome{
   background-image: url(../../images/img-backgraund.jpg);
   background-size:contain; 
   background-repeat: repeat;
   background-attachment:scroll;
   }
   
 .cards {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(5, 200px);
   gap: 40px;
   margin-top: 60px;
   background: rgba(26, 30, 39, 0.78);
   border-radius: 20px;
   justify-content: center;
   padding: 100px 0;
 }
 
 .page {
 
 display: flex;
 justify-content: center;
 padding-left:  20px;
 
 }
 .contenedor_header {
   display: flex;
   justify-content: flex-end;
   padding: 20px 60px;
 }
 
 .tilte {
   text-align: center;
   color: hsla(0, 0%, 100%, 0.928);
   padding: 60px;
   letter-spacing: 10px;
   font-size: 50px;
   margin: 0;
   text-shadow: 5px 5px 20px 1px #000000;
 }
 
 .createButton, .rechargeButton, .filterNew {
   margin: 0 30px;
   padding: 10px;
   border-radius: 10px;
   min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #833ab4 0%, #6f1dfd 50%, #6045fc);
 }
 
 
 .allSelects {
   width: 150vh;
   display: flex;
   justify-content: space-between;
   margin: 0 60px
 }
 
 .select {
   margin: 35px 8px;
   border-radius: 8px;
   height: 30px;
   color: rgb(0, 0, 0);
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
   border-radius: 5px;
   border: none;
   background-size: 120% auto;
   background-image: linear-gradient(315deg, #833ab4 0%, #6f1dfd 50%, #6045fc);
 }